.text-container{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    letter-spacing: 4px;
    font-size: 100px;
    font-weight: 800px;

}
.text-container > b{
    height:150px;
    width:150px;
    box-shadow: 0px 8px 10px gray;
    background: linear-gradient(red,green,yellow);
    background-clip: text;
    color: transparent;
    transform-origin: bottom;
    animation: getup,10s,infinite;
    perspective: 100px;
}
.text-container>b:nth-child(1){animation-delay: 0.5s;}
.text-container>b:nth-child(2){animation-delay: 0.25s;}
.text-container>b:nth-child(3){animation-delay: 0.50s;}
.text-container>b:nth-child(4){animation-delay: 0.75s;}
.text-container>b:nth-child(5){animation-delay: 0.100s;}
@keyframes getup{
    from{transform: rotateX(-85deg);}
    0%,50%{transform: rotateX(0deg);}
    60%,to{transform: rotateX(-85deg);}
}
/* mobile view */
@media only screen and (min-width:320px) and (max-width:720px){
    body{
        font-size: 20px;
        background-color: red;
    }
    p{
        display: none;
    }
    h1,h3{
        color: white;
        background-color: yellow;
    }
}
@media (min-width:720px){
    body{
        background-color: green;
        font-size: 50px;
    }
    p{
        font-size: 60px;
        color: red;
    }
    h1,h3{
        color: white;
        background-color: purple;
    }
    img{
        display: none;
    }
}