div{
    height: 200px;
    width: 200px;
    background-color: red;
    position: relative;
    -webkit-animation: moving;
    -webkit-animation-duration: 10s;
    -webkit-animation-direction: reverse;
    -webkit-animation-delay: 5s;
    -webkit-animation-iteration-count: 3;
}
/* @keyframes moving{
    0%{background-color: red;left: 0px;top: 0px;}
    25%{background-color: yellow;left: 300px;top: 0px;}
    50%{background-color: green;left: 300px;top: 300px;}
    75%{background-color: blue;left: 0px;top: 300px;}
    100%{background-color: red;left: 0px;top: 0px;}
} */
@keyframes moving{
    0%{background-image:url(../images/simbha.png)  ;left: 0px;top: 0px;}
    25%{background-image:url(../images/bird.jpg) ;left: 300px;top: 0px;}
    50%{background-image:url(../images/luno.jpg) ;left: 300px;top: 300px;}
    75%{background-image:url(../images/spidey.png) ;left: 0px;top: 300px;}
    100%{background-image: url(../images/pica.png);left: 0px;top: 0px;}
}