h3{
    color: rgb(238, 13, 51);
    background: rgb(186, 178, 178);
    font-size: 30px;
}
/* p{
    color: aqua;
    background: rgb(93, 124, 93);
    font-size: 1.5em;
} */
.heading1{
    font-size: 50;
    color: black;
    text-align: center;
    text-decoration: underline;
}
.heading2{
    font-size: 65;
    color: aqua;
}
.t_transform_upper{
    text-transform: uppercase;
}
.t_transform_lower{
    text-transform: lowercase;
}
.t_transform_cpitalize{
    text-transform: capitalize;
}
.t_center{
    text-align: center;
}
.t_right{
    text-align: right;
}
.t_decor_under{
    text-decoration: underline;
}
.t_decor_over{
    text-decoration: overline;
}
.t_decor_line{
    text-decoration: line-through;
}
.t_decor_all{
    text-decoration: line-through underline overline;
}
.t_intend{
    text-indent: 100px;
}
.letter_space{
    letter-spacing: 10px;
}
.word_space{
    word-spacing: 20;
}
.line_height{
    line-height: 25px;
}
.t_shadow1{
    color: white;
    text-shadow: 4px 6px 8px blue;
    font-size: 100px;
    text-align: center;
}
.t_shadow2{
    color: red;
    text-shadow: 4px 6px 8px aqua;
    font-size: 100px;
    text-align: center;
}
.t_shadow3{
    color: yellow;
    text-shadow: 4px 6px 8px blue;
    font-size: 100px;
    text-align: center;
}
.b_shadow{
    box-shadow: 10px 10px 10px red;
}
.d_shadow{
    filter: drop-shadow(10px 10px 10px rgb(223, 223, 114));

}
.img_ratio{
    height: 400px;
    width: 400px;
}
.t_color{
   color: red;
}
#t_color{
    color: aqua;
    font-size: 50px;
    background-color: #FF77E4;
}
.t_size{
font-size: 100px;
}
.b_prop{
    border: 20px solid red;
}
.b_prop1{
    border: 10px dotted blue;
}
.b_prop2{
    border: 20px double red;
}
.b_prop3{
    border: 10px inset blue;
}
.b_radius{
    border: 20px double red;
    border-radius: 30px;
}
.b_radius1{
    border: 20px double red;
    /* border-top-left-radius:80px ;
     border-top-right-radius:10px ;
      border-bottom-right-radius:80px ;
       border-bottom-left-radius:10px ; */
       border-radius: 30px 20px 30px 20px;

}
.b_color{
     border: 20px double red;
     /* border-top-color: green;
     border-left-color:red ;
     border-bottom-color: blueviolet;
     border-left-color: aqua; */
     border-color: blue red green yellow;
}
.para1{
    border: 3px solid aqua;
}
.para2{
    border: 3px solid aqua;
    padding: 40px;
    margin: 50px;
}
.para3{
    border: 3px solid aqua;
    /* padding-top: 40px;
     padding-right: 80px;
      padding-bottom: 40px;
       padding-left: 80px;
       margin-top: 30px;
       margin-right: 60px;
       margin-bottom: 30px;
       margin-left: 60px; */
       padding:40px 80px 40px 80px ;
       margin: 30px 60px 30px 60px;
}
.image1{
    border: 3px double red;
    padding:40px 80px 40px 80px ;
       margin: 30px 60px 30px 60px;
}
.box{
    width: 100px;
    height: 100px;
    border: 2px solid red;
    margin-bottom: 20px;
    background-color: gray;
}
.box1{
    position: static;
    /* right: 10px; for ex */
}
.box2{
    position: relative;
    left: 200px;
    top: 40px;
}
.box3{
    position: absolute;
    left: 200px;
    top: 100px;
}
.box4{
    position: sticky;
    top: 0px;

}
.box5{
    position: fixed;
    right: 5px;
    bottom: 0px;
}
.hall{
    position: relative;
    height: 250px;
    width: 250px;
    background-color: black;
    left: 120px;

}
#tv{
    position: absolute;
    background-color: yellow;
    left: 80px;
    height:20px;
    width: 80px;
}
#sofa{
    position: absolute;
    background-color: green;
    left:60px ;
    top: 40px;
    height: 40px;
    width: 120px;
}
#fridge{
    position: absolute;
    background-color: blue;
    bottom: 0px;
    right: 3px;
    height: 80px;
    width: 50px;
}

