.box{
    height: 150px;
    width: 150px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    font-size: 10px;
    border-radius: 10px;
    transition: transform 3s ease-in 500ms;

   
}
.container{
    display: flex;
    background-color: #FF77E4;
    height: 500px;
    width: 800px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 20px;
   
}
.box1:hover{
    transform: translate(300px,300px);
}
.box2:hover{
    transform: translatex(300px);
}
.box3:hover{
    transform: translatey(300px);
}
.box4:hover{
    transform: rotate(360deg);
}
.box5:hover{
    transform: skew(30deg);
}
.box6:hover{
    transform: scale(1.5) ;
}
.box7:hover{
    transform: scale(1.5) rotate(120deg) translateX(200px) ;
}
.conatiner1{
    position: relative;
    margin-top: 100px;
}
div{
    width: 100px;
    height: 100px;
    position: absolute;
    border: 3px solid white;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}
.orange{
    background-color: orange;
    left: 40px;
    z-index: 2;
}
.blue{
    background-color: blue;
     left: 80px;
     z-index: 3;
}
.green{
    background-color: green;
     left: 120px;
     z-index: 1;
}